body{
    background-color: rgba(0, 0, 0, 0.9);
    color: aliceblue ;
}
nav{
    display: flex;
    justify-content: space-between;
    
}
nav a{
    
    color: aliceblue;
    text-decoration: none;

}
.home{
    margin-left: 1100px;
}
.div1{
    display: flex;
    justify-content: center;
}
form{
    background-color: rgba(0, 0, 0, 0.205);
    width: 500px;
    height: 500px;
    padding: 15px;
    
}
button{
    background-color: rgb(0, 110, 255);
    color: aliceblue;
    border-radius: 15px;
    width: 500px;
    height: 25px;
    font-weight: bold;
    font-size: larger;

}
button:hover{
    background-color: blue;
}
.username{
    background-color: black;
    width: 500px;
    border: none;
}
.email{
    background-color: black;
    width: 500px;
    border: none;
}
.password{
    background-color: black;
    width: 500px;
    border: none;
}
.conifim .password{
    background-color: black;
    width: 500px;
    border: none;
}
.checkbox{
    margin-left: 170px;
}
a{
    color: blue;
}
.div2{
    display: inline-flex;
}
.login{
    margin-top: 23px;
}