
body{
    background-color: rgba(0, 0, 0, 0.895);
    color: aliceblue;
    padding: 15px;
}
ul{

    display: grid;
    justify-content: flex-end;
    color: aliceblue;
   
     
}
nav a{
    color: blue;
}
.div1{
    display: flex;
    justify-content: end;
    margin: 100pxpx;
}
form{
    background-color: rgba(0, 0, 0, 0.434);
    width: 500px;
    height: 300;
    padding: 15px;
    border-radius: 15px;
}
.div2{
    background-color: rgba(0, 0, 0, 0.414);
    width: 500px;
    height: 300;
    padding: 15px;
    border-radius: 15px;
}
img{
    width: 500px;
    height: 300px;
}
.username{
    border-radius: 10px;
    width: 500px;
    height: 35px;
}
.email{
    border-radius: 10px;
    width: 500px;
    height: 35px;
}
.subject{
    border-radius: 10px;
    width: 500px;
    height: 35px;
}
.massage{
    border-radius: 10px;
    width: 500px;
    height: 100px;
}
.button{
    background-color: rgb(0, 162, 255);
    width: 500px;
    height: 30px;
    border-radius: 15px;
    font-weight: bold;
    font-size: larger;
}
.button:hover{
    background-color: blue;
}
