body{
    background-color: rgba(0, 0, 0, 0.879);
    color: aliceblue;
    padding: 15px;
}
nav{
    display: flex;
    justify-content:space-between;
    
    
}
nav a{
    
    text-decoration: none;
    color: aliceblue;
   
    
}
.home{
    margin-left: 1100px;
}
.div1{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.374);
}
    
.div2{
    display: grid;
    justify-content: flex-end;
    margin-right: 400px;
    margin-top: 50px;
    
}
.h1{
    color: rgba(0, 136, 255, 0.767);
}
.select{
    background-color: black;
    width: 400px;
    color: aliceblue;
    border: none;
    height: 30px;
}
textarea{
    height: 100px;
}
.ee{
    background-color: rgb(0, 166, 255);
    color: aliceblue;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    
}
.qq{
    background-color:black;
    color: aliceblue;
    border-radius: 10px;
    border-color: rgb(0, 166, 255);
    width: 100px;
    height: 35px;
    
}
