body {
      font-family: Arial, sans-serif;
      background-color: #0b1623;
      color: #fff;
      margin: 4px;
    }

    header {
      background-color: #0e1b2a;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 40px;
    }

    header h1 {
      font-size: 20px;
      color: #fff;
    }

    nav a {
      color: #ccc;
      text-decoration: none;
      margin-left: 20px;
    }

    nav a:hover {
      color: #fff;
    }
    .container{
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto;
       margin-right: 300px;
       gap: 5px;

    }

    
    .hero{
      
      padding: 100px 20px;
      background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbRsYgwwhl6jgOqRPAkSpkwM6pdWg8Gis39Q&s');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      color: white;
    }
    .button{
        
        width: 120px;
        height: 40px;
        border-radius: 12px;
        border-color: #1ec3ffe6;
        
    }

    .hero h2 {
      font-size: 32px;
      margin-bottom: 10px;
    }

    .hero p {
      color: #ddd;
      font-size: 16px;
      margin-bottom: 25px;
    }

    .btn {
      background-color:rgba(0, 0, 0, 0.177);
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 10px;
      width: 130px;
      height: 40px;
    }
    .btn1{
      background-color:rgba(0, 0, 0, 0.177);
      color: white;
      border: solid;
      border-color: #1e90ff;
      padding: 20px;
      
      border-radius: 10px;
      
      width: 130px;
      height: 40px;

    }
    

    .btn:hover {
      background-color: #0078e7;
    }
    .welcome{
      display: flex;
      justify-content: flex-start;
      color: #ddd;
    }
    .StudentProjects{
      display: flex;
      justify-content: flex-start;
      
    }

    .section {
      padding: 40px 20px;
      display: grid;
      grid-template-columns: repeat(auto,(250px, 1fr));
      gap: 20px;
      max-width: 1000px;
      margin: auto;
    }

    
    .div1{
       background-color: #132235;
      padding: 20px;
      border-radius: 10px;
      height: 150px;
      
    }
    .div2{
       background-color: #132235;
      padding: 20px;
      border-radius: 10px;
      height: 150px;
    }
    
    .h{
      margin-right: 1200px;
    }
    .div4{
       background-color: #132235;
      padding: 20px;
      border-radius: 10px;
      
      
     
    }
   
    .div3{
       display: flex;
      justify-content: space-around;
      gap: 15px;
      padding: 20px;
    }
    .div6{
    background-color: #132235;
      padding: 20px;
      border-radius: 10p;
    }
    .div7{
      background-color: #132235;
      padding: 20px;
      border-radius: 10px;
      
      
    }
    body {
      font-family: Arial, sans-serif;
      background-color: #08111d;
      color: #fff;
    }

    h2 {
      color: rgb(0, 153, 255);
      margin-top: 40px;
      text-align: center;
    }

    .card {
      background-color: #101d30;
      padding: 20px;
      border-radius: 10px;
      
    }

   

    .card h3 {
      color: white;
      margin-bottom: 10px;
    }

    .card p {
      color: #ccc;
      font-size: 14px;
     
    }

    .btn {
      display: inline-block;
      margin-top: 10px;
      background-color: #1e90ff;
      color: white;
      padding: 8px 16px;
      border-radius: 5px;
      text-decoration: none;
      font-size: 13px;
    }

    .btn:hover {
      background-color: #0078e7;
    }

    